{% extends "header.html" %}

{% block body %}
    <div role="tabpanel">
        <!-- nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
            <li role="presentation"><a href="#wdev" aria-controls="wdev" role="tab" data-toggle="tab">Web Dev</a></li>
            <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Analysis</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="basics">
                <ul>
                    <li>afasfaks</li>
                    <li>aslfpkja</li>
                    <li>asnfkahv</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="wdev">Web Dev</div>
            <div role="tabpanel" class="tab-pane fade" id="dan">Data Analysis</div>
        </div>
    </div>
{% endblock %}
